# Global Natural Disaster Analysis

In [12]:
!kaggle datasets download cyberevil545/global-natural-disasters-dataset-19602018

Dataset URL: https://www.kaggle.com/datasets/cyberevil545/global-natural-disasters-dataset-19602018
License(s): CC-BY-SA-4.0
Downloading global-natural-disasters-dataset-19602018.zip to /mnt/c/Users/Bryan Keating/BK Laptop/Discovery/Kaggle/Global Natural Disaster Analysis
  0%|                                                | 0.00/499k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 499k/499k [00:00<00:00, 75.0MB/s]

In [13]:
!unzip global-natural-disasters-dataset-19602018.zip
!rm global-natural-disasters-dataset-19602018.zip

Archive:  global-natural-disasters-dataset-19602018.zip
  inflating: nasa_disaster_dataset.csv

In [14]:
!kaggle datasets files cyberevil545/global-natural-disasters-dataset-19602018

name                          size  creationDate
-------------------------  -------  -------------------
nasa_disaster_dataset.csv  2768384  2025-08-27 12:54:32

Begin python analysis

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset to pandas dataframe
df = pd.read_csv('nasa_disaster_dataset.csv')
df.head()

,Unnamed: 0,id,country,geolocation,level,adm1,location,disastertype,continent
0,0,109,Albania,Ana E Malit,3,Shkoder,Ana E Malit,flood,Europe
1,1,109,Albania,Bushat,3,Shkoder,Bushat,flood,Europe
2,2,175,Angola,Onjiva,3,Cunene,Onjiva,flood,Africa
3,3,187,Angola,Evale,3,Cunene,Evale,flood,Africa
4,4,187,Angola,Mupa,3,Cunene,Mupa,flood,Africa

In [30]:
# Dataset size and shape
print("Shape of the dataset: {0} rows and {1} columns".format(df.shape[0], df.shape[1]))
print(f"Size of the dataset: {df.size} elements")

Shape of the dataset: 39953 rows and 9 columns
Size of the dataset: 359577 elements

Index(['id', 'country', 'geolocation', 'level', 'adm1', 'location',
       'disastertype', 'continent'],
      dtype='object')

In [ ]:
# Count disasters by continent
print(df["continent"].value_counts())